@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Raleway');
body
{
	font-family: "Raleway", sans-serif;
	background-color: #f5e5d2;
	overflow-x: hidden;
}
::-webkit-scrollbar
{
	width: 12px;
}
::-webkit-scrollbar-thumb
{
	width: 12px;
	background-color: #c4b7a8;
}
.title
{
	font-family: "Playfair Display", serif;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 0px;
	margin-top: 10px;
	max-width: 80vw;
}
.subtitle
{
	font-family: "Playfair Display", serif;
	font-size: 24px;
	font-style: italic;
	margin-top: 20px;
	opacity: .8;
	z-index: 3;
}
.header-container
{
	position: fixed;
	display: block;
	width: 100vw;
	height: 140px;
	top: 0;
	left: 0;
	background-color: #f5e5d2;
	z-index: 3;
}
.header-shadow-box
{
	position: fixed;
	display: block;
	width: 100vw;
	height: 140px;
	top: 0;
	left: 0;
	background-color: #f5e5d2;
	box-shadow: 0px 10px 20px grey;
	z-index: 1;
}
.header-shadow-mask
{
	position: absolute;
	display: block;
	width: 1200vw;
	height: 280px;
	top: 0;
	left: 0;
	background-color: #f5e5d2;
	z-index: 2;
}
.top-icon
{
	width: 32px;
	opacity: .6;
}
.thesis
{
	font-family: "Playfair Display", serif;
	font-size: 24px;
	max-width: 800px;
}
.text
{
	font-size: 24px;
	max-width: 800px;
}
.expand-button
{
	padding: 16px;
	border: 2px solid #000;
	border-radius: 4px;
	cursor: pointer;
	width: 100px;
}
.expand-button:hover
{
	animation-name: expand-hover;
	animation-duration: .2s;
	background-color: #000;
	color: #f5e5d2;
}
@keyframes expand-hover
{
	from { background-color: #f5e5d2; color: #000}
	to { background-color: #000; color: #f5e5d2; }
}
#expand
{
	display: none;
}
#expand:checked + label ~ .tutorial-container
{
	display: block;
}
.tutorial-container
{
	display: none;
}
.tutorial-icon
{
	width: 64px;
	opacity: .8;
}
.tutorial-side
{
	width: 30vw;
	margin-left: 3vw;
	margin-right: 3vw;
	display: inline-block;
}
.graph-title
{
	font-family: "Playfair Display", serif;
	font-size: 48px;
}
.chart
{
	max-width: 1200;
}
.canvasjs-chart-credit
{
	padding-top: 8px;
}
.legendContainer
{
	display: table;
	font-family: "Playfair Display", serif;
}
.legendColor
{
	height: 16px;
	width: 32px;
	display: inline-block;
	margin-right: 8px;
}
.legendName
{
	display: table-cell;
	vertical-align: middle;
}
.legendSecondary
{
	display: table-cell;
	vertical-align: middle;
	font-style: italic;
}
.legendDivider
{
	width: 32px;
	display: inline-block;
}
.small-text
{
	font-size: 12px;
	font-style: italic;
}